.chat-main
  .chat-main__header
    .chat-main__header__GroupName
      Test Group Name
      .chat-main__header__GroupName__MemberName
        Member: Test
    = link_to 'edit', root_path, class: ".chat-main__header__edit-btn"

  .chat-main__message
    = render @messages


  .chat-main__form
    = form_for [@group, @message] do |f|
      .chat-main__form__input-box
        = f.text_field :content, placeholder: 'type a message'
        = f.label :image, class: 'chat-main__form__input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'chat-main__form__input-box__image__file'
      = f.submit 'send', class: 'chat-main__form__submit-btn'